<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hasRun</key>
	<false/>
	<key>MuscleGroup</key>
	<dict>
		<key>Cardio</key>
		<array>
			<string>Elliptical</string>
			<string>Row Machine</string>
			<string>Treadmill</string>
		</array>
		<key>Legs</key>
		<array>
			<string>Calf Leg Press Raise</string>
			<string>Leg Press</string>
			<string>Prone Leg Curl</string>
			<string>Leg Extension</string>
			<string>Machine Leg Press</string>
			<string>Barbell Squat</string>
		</array>
		<key>Shoulders</key>
		<array>
			<string>Dumbbell Shoulder Press</string>
			<string>Disco</string>
			<string>Wave</string>
			<string>Hip-Level Rotation</string>
			<string>Behind Head Barbell Press</string>
			<string>Dumbbell Lateral Raise</string>
			<string>Dumbbell Front Raise</string>
			<string>Cable Face Pull</string>
			<string>Shrug</string>
		</array>
		<key>Abs</key>
		<array>
			<string>Ab Wheel</string>
			<string>Side Leans</string>
			<string>Leg Lifts</string>
			<string>Ab Machine Crunch</string>
		</array>
		<key>Back</key>
		<array>
			<string>Dumbbell Row</string>
			<string>Barbell T-Row</string>
			<string>Lat PullDown</string>
			<string>Seated Machine Row</string>
			<string>Assisted Pull-up</string>
			<string>Pull-up</string>
			<string>Deadlift</string>
			<string>Back Extensions</string>
		</array>
		<key>Arms</key>
		<array>
			<string>Kickbacks</string>
			<string>Alternating Dumbbell Curl</string>
			<string>Tricept Dumbbell Lift</string>
			<string>Standing EZ-Bar Curl</string>
			<string>Tricept Rope Pushdown</string>
			<string>Cable Curl</string>
			<string>Bicept Curl</string>
			<string>French Press</string>
			<string>EZ Bar Preacher Curl</string>
		</array>
		<key>Chest</key>
		<array>
			<string>Flat Dumbbell Bench Press</string>
			<string>Inclined Dumbbell Bench Press</string>
			<string>Declined Dumbbell Bench Press</string>
			<string>Flat Dumbbell Fly</string>
			<string>Flat Barbell Bench Press</string>
			<string>Incline Barbell Bench Press</string>
			<string>Cable Cross Over</string>
			<string>Plate Chest Push</string>
			<string>Seated Machine Fly</string>
		</array>
	</dict>
</dict>
</plist>
